@font-face {
      font-family: percifico;
      src: url(./assets/fonts/Pacifico/Pacifico-Regular.ttf);
}
body{
      min-height: 100vh;
      display: flex;
}


#root{
      flex-grow: 1;
      display: flex;
}

.App{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
}

.h-10{
      height: 10% !important;
}

.w-10{
      width: 10% !important;
}
.w-5{
      width: 10% !important;
}

.h-5{
      height: 5% !important;
}

.Chat {
      height: calc(100vh - 19vh );
      overflow-y: auto;
}

.App{
      display: flex;
      height: 100%;
      flex-direction: column;
      width: 100%;
      justify-content: start;
}

.f-percifico{
      font-family: percifico;
      letter-spacing: 4px;
}
.vh-75{
      height: 75vh !important;
}

.vh-95{
      height: calc(100vh - 60px) !important;
}

.height-50{
      max-height: 50px !important;
}
.expand:hover{
      transition: all 1s  linear;
      scale: 1.2;
      cursor: pointer;
}

.flex-item{
      display: flex;
      overflow: auto;
}
.img-container{
      overflow: hidden;
}

.center{
      display: grid;
      place-content: center;
}
.vh-10{
      height: 40px !important;
}
.vh-50{
      height: 50vh !important;
}